header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-y {
  display: flex;
  align-items: center;
}

.logo {
  padding: 10px 20px;
}

.slogo {
  color: MediumAquamarine;
  padding-left: 10px;
}

nav {
  padding-right: 20px;
}

nav a {
  padding: 0 10px;
  color: black;
}
